In [1]:
!pip install Faker
!pip install numpy
!pip install pandas

Requirement already satisfied: Faker in c:\users\suhasini\anaconda3\lib\site-packages (24.14.1)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\suhasini\anaconda3\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\suhasini\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Requirement already satisfied: numpy in c:\users\suhasini\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\suhasini\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\suhasini\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\suhasini\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\suhasini\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\suhasini\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\suhasini\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [28]:
import pandas as pd
from faker import Faker
import random
from flask import send_file

# Create an instance of the Faker class
faker = Faker()

# Define the number of synthetic records to generate
num_records = 100  #change the input according to our requirement

# Generate synthetic customer data
customer_data = []
for _ in range(num_records):
    customer = {
        'CustomerID': faker.uuid4(),
        'FirstName': faker.first_name(),
        'LastName': faker.last_name(),
        'Email': faker.email(),
        'Phone': faker.phone_number(),
        'Address': faker.address(),
        'City': faker.city(),
        'Country': faker.country(),
        'BirthDate': faker.date_of_birth(minimum_age=18, maximum_age=80).strftime('%Y-%m-%d'),
    }
    customer_data.append(customer)

# Generate synthetic product data
product_data = []
for _ in range(num_records):
    product = {
        'ProductID': faker.uuid4(),
        'ProductName': faker.word(),
        'Description': faker.text(),
        'Price': round(faker.random_int(min=10, max=1000)),
    }
    product_data.append(product)

# Generate synthetic sales transaction data
sales_data = []
for _ in range(num_records):
    transaction = {
        'TransactionID': faker.uuid4(),
        'CustomerID': random.choice(customer_data)['CustomerID'],
        'ProductID': random.choice(product_data)['ProductID'],
        'Quantity': random.randint(1, 10),
        'SalesDate': faker.date_between(start_date='-1y', end_date='today').strftime('%Y-%m-%d'),
        'Price': random.choice(product_data)['Price'],
    }
    sales_data.append(transaction)

# Create Pandas DataFrames from the synthetic data
df_customers = pd.DataFrame(customer_data)
df_products = pd.DataFrame(product_data)
df_sales = pd.DataFrame(sales_data)


# Concatenate the dataframes
Sales_data = pd.concat([df_customers, df_products, df_sales], axis=1)

# Display the concatenated data
Sales_data.head()

#download and save the csv file where you saved the programming file automatically
Sales_data.to_csv('Sales_data.csv', index=False)  #remove hash symbol before Sales then you get csv file to your local disk

,CustomerID,FirstName,LastName,Email,Phone,Address,City,Country,BirthDate,ProductID,ProductName,Description,Price,TransactionID,CustomerID,ProductID,Quantity,SalesDate,Price
0,64e07f6c-def0-44d1-a812-d1c9c134538a,Mark,Long,bvargas@example.net,(204)599-4904,"78136 Kaitlin Locks\nLake Matthew, FL 44512",New Jennifer,Falkland Islands (Malvinas),1980-12-26,a8114a4f-e8b1-450c-86fe-29ac37bd8813,subject,Service edge smile pass challenge first discov...,496,02a5e381-db4d-496d-a373-46e73c76009d,0759bfc7-b3c1-491a-bd13-55c1750e0165,b02cf3a2-23b2-40df-8b56-a52ff78062dc,4,2023-10-08,42
1,32039388-132e-4a2d-a12a-343196ee4b40,Joseph,Abbott,salazarlisa@example.net,254.966.2767x636,"187 Shaw Lock\nKevinton, FM 16278",Kristishire,Guam,1951-04-17,c7981f45-6198-46c4-8223-3b99a87592d7,either,Hospital Republican Democrat reason receive in...,80,cc2374c4-7ce7-426b-bc18-71aa97e284ac,9bb756c4-f6fd-40f6-b661-6921d19a7378,f3dbd00d-c6a8-40dd-91b0-672fa5c6fdc6,6,2024-02-12,129
2,73e52940-6fb0-4647-b8fc-ca25cf41ca11,Holly,Reed,jonesalex@example.org,(712)945-2410x8536,USS Martinez\nFPO AA 48593,West Amymouth,United Kingdom,1982-06-17,a16e077c-fc6d-433e-8f80-24239b8d240e,often,Close very measure compare painting should pro...,766,6cd7bdf9-a590-4873-99ac-e4c512092f32,702cc355-f7be-4064-9476-e9ee9b4f9554,e96d8042-a492-49e2-b628-6b3eda75f2fe,4,2023-05-23,789
3,9315757f-32cd-427b-85f6-74174ceaa48b,Tiffany,Kelly,williamsbrandon@example.com,405-619-9487x632,"339 Alvarado Extension\nJonathanside, VT 12300",Lake Diamondchester,Nigeria,1953-10-29,bfcaf3a5-c867-447c-887f-f6c8c6ea349d,beyond,Author me upon discover mother forward. Six am...,49,4c4fab7c-5fca-4296-9471-c89ed422ee8a,4cf61a8a-df58-4ce3-bf7b-3a7094c001ba,058fe847-b530-4481-aae0-30c519f9dfff,4,2024-01-27,376
4,eba5c02b-f6fb-43e4-aea3-e41e38bd1f58,Judith,Miller,hacevedo@example.org,9829265679,91929 Heather Burgs Suite 754\nLake Robinhaven...,South Melissaborough,Netherlands,1957-07-29,bea1c875-abff-4c76-8c91-ad4d1d2cd3e5,forward,Cause base view paper. Red ago would approach....,782,0a8c9b53-7bed-484e-8263-eb5ef50c8987,90b90f6e-243f-4d02-95d3-e0b0ecd821cb,4bbbed68-6d9e-4522-b8bb-a7614e4cd2f3,2,2024-03-14,952